# API Configuration
VITE_API_URL=https://campusmobility-9kz2.onrender.com

# Geoapify Configuration
# Key 1: Used for Autosuggest
GEOAPIFY_API_KEY_AUTOSUGGEST=

# Key 2: Used for Reverse Geocoding
GEOAPIFY_API_KEY_REVERSE=

# Firebase Configuration
VITE_FIREBASE_VAPID_KEY=

# Cloudinary Configuration
VITE_CLOUDINARY_CLOUD_NAME=
VITE_CLOUDINARY_UPLOAD_PRESET=

# Twilio Configuration
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_PHONE=
TWILIO_TO_PHONE=
